<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mymapper">
	<select id="select" resultType="mybatis.MybatisTblVO">
		select col1, col2, col3 from mybatistbl
	</select>
	<insert id="insert">
		insert into mybatistbl (col1, col2, col3) values (#{col1}, #{col2}, #{col3})
	</insert>
	<update id="update">
		update mybatistbl set col1 = #{col1}, col2 = #{col2}, col3 = #{col3}
	</update>
	<delete id="delete">
		delete from mybatistbl where col1=#{col1}
	</delete>
	
</mapper>